<div class="background p-4">
    <div class="flex border-bottom-1 pb-4">
        <p-avatar [image]="teacher.avatar" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <div class="flex flex-column align-items-start">
            <span class="text-lg font-medium mb-1">{{ teacher.name }}</span>
            <span class="font-medium mb-2">Grade: {{ teacher.gradeId }}</span>
        </div>
    </div>
    <div class="flex justify-content-between pt-4">
        <button pButton pRipple label="Students" icon="pi pi-user-edit" class="p-button-rounded p-button-secondary w-6 mr-2"></button>
        <button pButton pRipple label="Teacher Info" icon="pi pi-hashtag" class="p-button-rounded p-button-secondary w-6 ml-2"></button>
    </div>
</div>