<div class="m-2">
    <h1 class="headings">Local Elementary School</h1>
    <section>
      <h2 class="headings">Welcome!</h2>
      <p>
        The 2022 - 2023 school year is fast approaching. The faculty here at
        Local Elementary cannot wait for the kids to return. It is going to be
        a fun filled year of learning and growing! In order to make a smooth
        transition back into school life, we ask that parents please verify
        their child has been enrolled. There are links below to view teachers
        for each grade. Click a teacher to see which class your student will
        be in. If your student is not registerd that's ok. There is a button
        on the home page and the list of teachers page.
      </p>
    </section>
    <section>
      <a routerLink="teachers">Kindergarten</a>
      <!-- Possible reuseable template for navbar and here-->
      <div>
        <a routerLink="teachers">1st Grade</a>
        <a routerLink="teachers">2nd Grade</a>
        <a routerLink="teachers">3rd Grade</a>
        <a routerLink="teachers">4th Grade</a>
        <a routerLink="teachers">5th Grade</a>
      </div>
      <a routerLink="teachers">All Teachers</a>
    </section>
    <div class="registerBtn">
      <button pButton pRipple type="button" class="p-button-rounded" onclick="location.href='./AddEditStudentComponent.html'">
        Register Student
      </button>
    </div>
</div>